{% extends 'base.html.twig' %}

{% block title %}Objectif index{% endblock %}

{% block body %}
    <h1>Objectif index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for objectif in objectifs %}
            <tr>
                <td>{{ objectif.id }}</td>
                <td>
                    <a href="{{ path('app_objectif_show', {'id': objectif.id}) }}">show</a>
                    <a href="{{ path('app_objectif_edit', {'id': objectif.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_objectif_new') }}">Create new</a>
{% endblock %}
